:root {
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat";
    background-color: var(--very-light-grayish-blue);
    max-width: 100%;
    overflow-x: hidden;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.bg-top {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    top: 0;
    right: 0;
}
.bg-bottom {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-container {
    text-align: center;
    margin: 50px;
}
.pricing-heading {
    color: var(--dark-grayish-blue);
    font-weight: 900;
    font-size: 30px;
    margin: 20px;
}
.pricing-button {
    display: flex;
    color: var(--light-grayish-blue);
    justify-content: center;
    margin: 20px;
    font-size: 12px;
}
.button-container {
    position: relative;
    cursor: pointer;
    background: linear-gradient(hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    border-radius: 10px;
    margin: 0 20px;
    width: 40px;
    height: 20px;
}
.switch-button {
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    transform: scale(0.8);
    background-color: white;
    border-radius: 50%;
    right: 0;
    transition: all 0.3s ease-in-out;
}
.sb-active {
    right: 20px;
}
.button-container:hover {
    background: hsl(236, 52%, 79%);
}

.pricing-cards {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.card {
    text-align: center;
    background-color: white;
    padding: 15px;
    margin: 7px;
    font-size: 12px;
    color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}
#professional-card {
    background: linear-gradient(hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    color: white;
    transform: scale(1.1);
}

hr {
    border-color: var(--light-grayish-blue);
    border: 0;
    border-top: 1px solid var(--light-grayish-blue);
}
.dollar {
    font-size: 50px;
}
.button-lm {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    font-weight: bolder;
    outline: none;
    border: none;
    height: 30px;
    color: white;
    border-radius: 3px;
    background: linear-gradient(
        to right,
        hsl(236, 72%, 79%) 0%,
        hsl(237, 63%, 64%) 100%
    );
    z-index: 3;
}
#professional-card .button-lm {
    color: hsl(237, 63%, 64%);
    background: white;
}

.button-lm:hover {
    background: white;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
}

#professional-card .button-lm:hover {
    background: hsl(237, 63%, 64%);
    color: white;
    border: 1px solid white;
}
.card-info {
    padding: 10px;
}
.card-info-container {
    padding: 10px;
}
.dollor-container {
    width: 155px;
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
    align-self: center;
}

.monthly {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: opacity 0.5s ease-in-out;
}

.annually {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    font-size: 25px;
    transition: opacity 0.5s ease-in-out;
}
.annually-active {
    display: flex;
    visibility: visible;
    opacity: 1;
    height: auto;
    justify-content: center;
    align-items: center;
}

.monthly-inactive {
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 750px) {
    body {
        background-image: url("./images/bg-top.svg");
        background-position-x: 300px;
    }
    .card {
        margin: 15px;
    }

    #professional-card {
        transform: scale(1);
    }

    .bg-bottom {
        display: none;
    }
    .bg-top {
        width: 70%;
        top: -5%;
        right: -5%;
    }
    .pricing-cards {
        flex-direction: column;
        align-items: center;
    }
    .main-container {
        margin: 50px auto;
    }
}

@media screen and (max-width: 450px) {
    body {
        background-position-x: 100px;
    }
}
